*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 95%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 2.5%;
    z-index: 9999;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 70px;
}

nav .esquerda{
    float: left;
}

nav .direita{
    float: right;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul li a.criar-conta{
    border: 1px solid #fff;
    padding: 9px 29px;
}

nav ul li a:hover{
    background-color: #F2B705;
    transition-duration: 0.8s;
}

nav ion-icon{
    width: 45px;
    height: 45px;
    color: white;
    margin-top: -10px;
    margin-left: 20px;
}

nav ion-icon:hover{
    color: #F2B705;
    cursor: pointer;
}

section{
    padding: 55px 0px 80px;
}

header{
    position: relative;
    background-image: linear-gradient(rgba( 0,0,0,0.7), rgba(0,0,0,0)), url('/img/secao08-background-capa.jpg');
    background-size: cover;
    width: 100%;
    height: 1024px;
    background-position: center center;
    border-top: 5px solid #07BC31;
}

header div.chamada{
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 30%;
    left: auto;
}

section.final-de-semana{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.final-de-semana-esquerda, div.final-de-semana-direita{
    position: relative;
    width: 15%;
}

div.final-de-semana-centro{
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.pontos-chaves-mestre{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.pontos-chaves{
    width: 25%;
    text-align: center;
}

section.final-de-semana div.pontos-chaves ion-icon{
    width: 75px;
    height: 75px;
    color: red;
}

div.folha1{
    position: absolute;
    top: 40px;
    left: 40px;
    background-image: url(/img/secao09-folha1.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

div.camarao{
    position: absolute;
    top: 250px;
    left: 0;
    background-image: url(/img/secao09-camarao.jpg);
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

div.folha2{
    position: absolute;
    top: 500px;
    left: 50px;
    background-image: url(/img/secao09-folha2.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

div.folha3{
    position: absolute;
    top: 100px;
    left: 20px;
    background-image: url(/img/secao09-folha3.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 160px;
}

div.tomate{
    position: absolute;
    top: 300px;
    left: 100px;
    width: 160px;
    height: 150px;
    background: url(/img/secao09-tomate.png) no-repeat;
}

div.queijo{
    position: absolute;
    top: 600px;
    left: 10px;
    width: 160px;
    height: 150px;
    background: url(/img/secao09-queijo.jpg) no-repeat;
}


/* sessao cardapio */

section.pizza{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url(/img/secao10-background-secao-pizza.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
div.opcoes-mestre{
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

div.pizza-opcoes{
    width: 33.3%;
    text-align: center;
    margin: 5px 0;
}
