p.destaque{
    width: 80%;
}

nav{
    width: 100%;
    left: 0;
    padding-right: 10px;
}

nav div{
    width: 150px;
    height: 130px;
    background-position: center bottom;
}

.final-de-semana-esquerda, .final-de-semana-direita{
    display: none;
}

.final-de-semana-centro{
    width: 95%;
}

.opcoes-mestre{
    width: 95%;
}

.testemunha-centro{
    width: 680px;
}

.testemunha-esquerda, .testemunha-direita{
    display: none;
}

.transicao-testemunha-plano{
    display: none;
}

.planos-janela{
    width: 100%;
}

.planos{
    margin: 80px 5px;
}

@media screen (max-width:940px) {

    .planos{
        width: 220px;
    }

}
    .mapa, .info{
        width: 45%;
    }

    .redes-sociais ion-icon{
        width: 10%;
    }

    .pizza-rodape-decoracao{
        display: none;
    }

