*{
    font-size: 16px;
}

h1,h2,h3{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

h4, h5, h6{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #F2B705;
}

h1{
    font-size: 600%;
    font-weight: 200;
}

h2{
    font-size: 400%;
    font-weight: 200;
}

h2:after{
    display: block;
    background-color: #07Bc31;
    height: 5px;
    width: 100px;
    margin: 40px auto 30px;
    content: "";
}

p, li, a{
    font-family: 'Open Sans';
    color: #404040;
}

header div.chamada h1{
    color: #fff;
    text-shadow: 4px 6px 10px #000;
}

header div.chamada h4{
    font-size: 250%;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 55px;
}

header div.chamada a{
    font-size: 110%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35) 50%, rgba(6,89,2,35) 100%);
    padding: 20px 80px;
    border-radius: 50px;
    display: inline-block;
}

div.pontos-chaves h4{
    color: #404040;
}

div.pontos-chaves h4:after{
    display: block;
    background-color: #07Bc31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: "";
}

section.pizza p.destaque{
    color: #fff;
    width: 40%;
}

section.pizza ul li{
    color: #fff;
    list-style: none;
    line-height: 1.9;
    font-size: 90%;
    text-transform: uppercase;
}

